.category-all-page {
  .category-all-title { text-align: center; }

  .category-all { margin-top: 20px; }

  .category-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .category-list-item {
    /*margin: 5px 10px;*/
    display: inline-block;
    text-shadow: 1px 1px 1px #fff;
    border: 1px solid #dce1e6;
    padding: 5px;
    margin: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 1px 2px #fff inset, 0 -1px 0 #a8abae inset;
    background: -webkit-linear-gradient(top,#f2f3f7,#e4e8ec);
  }
  .category-list-link {
    text-decoration none;
  }
  .category-list-item a {
    border-bottom none;
  }
  .category-list-count {
    color: $grey;
    &:before {
      display: inline;
      content: " ("
    }
    &:after {
      display: inline;
      content: ") "
    }
  }

  .category-list-child { padding-left: 10px; }
}
